# Ignore node_modules directory
node_modules/
# Ignore log files
*.log
# Ignore environment files (e.g., .env)
.env
# Ignore build artifacts
build/
dist/
out/
*.sqlite

# managed
**.data.json
**.node-persist**
**_IGNORE_**
# end managed
